# include ./conf.d.extra/dn-map.conf;
# This is a test to see if the template is updated
server {
    listen         80;
    return 301 https://$host$request_uri;
}

server {
  include ./conf.d.extra/ssl-server.conf;

  include ./conf.d.extra/gzip.conf;
  include ./conf.d.extra/security-headers.conf;
  # include ./conf.d.extra/ssl-client.conf;
  # include ./conf.d.extra/dn-forbidden.conf;
  
  location /explorer/ {
    proxy_pass http://unfetter-api-explorer:3200/;
  }
  
  location /api/ {
    proxy_pass https://unfetter-discover-api:3000/;
  }

  # these conf files do not exist in name in the source repo
  #   they are specifically mapped based on the docker compose used
  {% if use_taxii %}
  location /taxii-server/ {
    proxy_pass https://unfetter-taxii-server:3002/;
  }
  {% endif %}
  
  {% if use_uac %}

  location /socketserver/ {
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_http_version 1.1;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;
    proxy_pass https://unfetter-socket-server:3333/socket/;
  }
  {% endif %}

  {% if use_unfetter_ui %}

  location / {
    proxy_pass https://unfetter-ui:80;
  }
  {% else %}
  location / {
    try_files $uri$args $uri$args/ /index.html;
  }
  {% endif %}

}
{% if use_taxii %}
server {
  listen 8443 ssl;
  listen [::]:8443 ssl;
  ssl_protocols TLSv1.2;
  ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';

  ssl_prefer_server_ciphers on;
  ssl_session_timeout 5m;
  ssl_session_cache shared:SSL:50m;
  ssl_session_tickets off;

  ssl_certificate         /etc/pki/tls/certs/server-crt.pem;
  ssl_certificate_key     /etc/pki/tls/certs/server-key.pem;
  ssl_client_certificate  /etc/pki/tls/certs/ca_client-crt.pem;
  # ssl_certificate         /etc/pki/tls/certs/rootCA.pem;
  # ssl_certificate_key     /etc/pki/tls/certs/rootCA.key;
  # ssl_client_certificate  /etc/pki/tls/certs/client.crt;

  # ssl_verify_client optional_no_ca; # | optional | off | on
  ssl_verify_client on;
  ssl_verify_depth 1;

  proxy_set_header X-Forwarded-Host $http_host;
  proxy_set_header X-Forwarded-Proto $scheme;
  proxy_set_header X-SSL-CERT $ssl_client_cert;
  proxy_set_header X-SSL-Client-S-DN   $ssl_client_s_dn;

  location / {
      proxy_pass https://unfetter-taxii-server:3002/;
  }
}


{% endif %}
