version: '3.3'
services:
  unfetter-discover-gateway:
    image: nginx:1.13.5-alpine
    container_name: unfetter-discover-gateway
    ports:
     - "8443:8443"
    links:
     - unfetter-taxii-server
    volumes:
    # Only use one of the following volume mappings:
    # DONT use mutual TLS authentication
    #  - ./config/nginx/taxii.conf:/etc/nginx/conf.d.runmode/taxii.conf
    # DO use mutual TLS authentication
     - ./config/nginx/taxii-auth.conf:/etc/nginx/conf.d.runmode/taxii-auth.conf

  unfetter-taxii-server:
    build: ../taxii-server
    container_name: unfetter-taxii-server
    image: unfetter-taxii-server
    links:
     - cti-stix-store-repository:repository
    ports:
     - "13002:3002"
    volumes:
     - ../taxii-server/src:/usr/share/unfetter-taxii-server/src
     - ./certs/:/etc/pki/tls/certs
    entrypoint:
     - npm
     - start