#  The common role is run first, and contains all containers that are pulled from
#  docker repositories that are not part of Unfetter

#  It also will run generic tasks.



# Ensure the volumes are created. 
- name: Create certs volume
  docker_volume:
    name: certs
  notify:
    - load certs-vol

- name: Create mongo-db volume
  docker_volume:
    name: mongo-db
  notify:
    - load mongodb-vol

# This hasn't been implemented yet
- name: Create ui-vol volume
  docker_volume:
    name: ui-config
  notify:
    - load ui-vol
  
- name: Create private-config volume
  when: use_uac
  docker_volume:
    name: private-config
  notify:
    - load private-vol



# Trying to push all the time
- name: Load UI Local Setting
  docker_container:
    name: helper1
    image: williamyeh/ansible:alpine3
    state: started
    volumes: "ui-config:/ui-config"
    pull: true
    entrypoint: "tail -f /dev/null"

- name: Add Docker Container
  add_host:
    name: helper1
    ansible_connection: docker
    ansible_docker_extra_args:
  changed_when: false

- name: Copy The File
  delegate_to: helper1
  template:
    src: '{{ role_path }}/templates/local-settings.json.j2'
    dest: '/ui-config/local-settings.json'
    force: true
  remote_src: true

- name: Load UI Local Setting
  docker_container:
    name: helper
    image: busybox
    state: absent
# Create the docker network that all the containers will become part Unfetter
# TODO - need to get the docker network to be created if it doesn't exist.  Getting errors right now
- name: Create the Docker Network - {{ docker_network_name }}
  docker_network:
    state: present
    name: "{{ docker_network_name }}"

# Debug message to show what the docker name is    
- debug:
    msg: "The network is {{ docker_network_name }}"


- meta: flush_handlers
# Create the cti-stix-store-repository docker container


- name: Create Repository
  docker_container:
    name: cti-stix-store-repository
    image: "mongo:3.4.1"
    state: started
    networks:
      - name: "{{ docker_network_name }}"          
    
    # Since the repository is a mongodb, we always pull
    pull: true
    volumes:
#    - "{{ prepath }}/unfetter/data/db:/data/db"
    - "mongo-db:/data/db"
    published_ports: "{{ '27018:27017' if 'development' in group_names else [] }}"

  when: run_action
    

