#  The common role is run first, and contains all containers that are pulled from
#  docker repositories that are not part of Unfetter

#  It also will run generic tasks.
- name: Calls the role task to reconfigure the private-vol file
  hosts: deployed
  vars:
    private_vol: "{{ backup_directory }}/private-vol"

  tasks:
    - include_tasks: "task-print-variables.yml"
    - include_role:
        name: common
        tasks_from: api-reconfig.yml
