# TODO - Need to be able to build this from source for dev environments
- debug:
    msg: "Group Names: {{ group_names }} use_uac {{ use_uac }} build_action {{ build_action }}"

- name: "Pull {{ container_name }} - {{ build_action }}"
  docker_image:
    name: "{{ image_name }}"
    state: present
    pull: yes
  when: "not ('production' in group_names and build_action=='local')"


  # Building the image if build_action is local

- name: "Copy the DISTRIBUTION code"
  copy:
    src: "{{ prepath }}/unfetter-ui/dist"
    dest: "{{ role_path }}/files/"
    force: true
  when: "('production' in group_names and build_action=='local')"
    
    
- name: "Build {{ container_name }} from Gateway Dockerfile"
  docker_image:
    name: "{{ container_name }}"
    tag: "{{ docker_tag }}"
    state: present
    path: "{{ role_path }}/files"
  when: "('production' in group_names and build_action=='local')"

- name: "Build new template"
  template: 
    src: '{{ role_path }}/templates/default.j2'
    dest: '{{ role_path }}/files/conf.d/default.conf'
    force: true
# when: Unsure when to do this, I guess every time this needs to get deployed.    

# Creates the docker container for the gateway
- name: Create the {{ container_name }} from image {{ image_name }}
  docker_container:
    name: "{{ container_name }}"
    image: "{{ image_name }}"
    state: started
    networks:
      - name: "{{ docker_network_name }}"          
    exposed_ports: 
    - "443"
    - "80"
    published_ports:
    - "443:443"
    - "80:80"
    links: "{{ link_list }}"
    volumes: 
     - "{{ role_path }}/files/conf.d/default.conf:/etc/nginx/conf.d/default.conf"
     - "{{ prepath }}/unfetter/config/nginx/conf.d.extra/:/etc/nginx/conf.d.extra"
#     - "{{ prepath }}/unfetter/config/certs/:/etc/pki/tls/certs"
     - "certs:/etc/pki/tls:ro"
  # TAXII
  #   - "{{ prepath }}/unfetter/config/nginx/{{ 'taxii.conf' if use_taxii else 'taxii-blank.conf' }}:/etc/nginx/conf.d.runmode/taxii.conf"
  #   - "{{ prepath }}/unfetter/config/nginx/{{ 'taxii-auth.conf' if use_taxii and use_taxii_tls else 'taxii-auth-blank.conf' }}:/etc/nginx/conf.d.runmode/taxii-auth.conf"
   # In UAC
  #   - "{{ prepath }}/unfetter/config/nginx/{{ 'uac-locations.conf' if use_uac else 'blank.conf' }}:/etc/nginx/conf.d.runmode/runmode-locations.conf"
   # In USE_UNFETTER_UI
  #   - "{{ prepath }}/unfetter/config/nginx/{{ 'ui-dev.conf' if use_unfetter_ui else 'ui-prod.conf' }}:/etc/nginx/conf.d.runmode/ui.conf"
  when: run_action

  